<div class="footer">
      <div class="section-footer wf-section">
        <div class="footerlogo">{%- image images.1797575.url, images.1797575.alt, '[]', 'loading="lazy" width="200"' -%}</div>
        <div class="footerscroll">
          <div class="marquee-wrapper">
            <div class="marquee">
              <div class="blocks"></div>
              <div class="scrollerwidth">
                <div class="summerfridaysscroll"><strong>{{ texts.331d5043 }}</strong></div>
              </div>
              <div class="blocks"></div>
              <div class="summerfridaysscroll">
                <div class="summerfridaysscroll"><strong>{{ texts.-14dafb31 }}</strong></div>
              </div>
              <div class="blocks"></div>
              <div class="scrollerwidth">
                <div class="summerfridaysscroll"><strong>{{ texts.4eb5da5 }}</strong></div>
              </div>
              <div class="blocks"></div>
              <div>
                <div class="summerfridaysscroll"><strong>{{ texts.119705ba }}</strong></div>
              </div>
              <div class="blocks"></div>
              <div class="scrollerwidth">
                <div class="summerfridaysscroll"><strong>{{ texts.296ff501 }}</strong></div>
              </div>
            </div>
            <div class="marquee">
              <div class="blocks"></div>
              <div class="scrollerwidth">
                <div class="summerfridaysscroll"><strong>{{ texts.331d5043 }}</strong></div>
              </div>
              <div class="blocks"></div>
              <div class="summerfridaysscroll">
                <div class="summerfridaysscroll"><strong>{{ texts.-14dafb31 }}</strong></div>
              </div>
              <div class="blocks"></div>
              <div class="scrollerwidth">
                <div class="summerfridaysscroll"><strong>{{ texts.4eb5da5 }}</strong></div>
              </div>
              <div class="blocks"></div>
              <div>
                <div class="summerfridaysscroll"><strong>{{ texts.119705ba }}</strong></div>
              </div>
              <div class="blocks"></div>
              <div class="scrollerwidth">
                <div class="summerfridaysscroll"><strong>{{ texts.296ff501 }}</strong></div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-stack">
          <div class="footer-half">
            <div class="w-layout-grid footer-grid">
              <div id="w-node-c6e72af0-f899-da4c-e417-198ccb8f90ca-cb8f908d" class="footer-column">
                <div class="footer-header"><strong>{{ texts.-273fe2f4 }}</strong></div>
                <a menu="information" href="{{ links.23 }}" class="footerlink">{{ texts.5c6e1357 }}</a>
                <a href="{{ links.23 }}" class="footerlink">{{ texts.-13055a98 }}</a>
                <a href="{{ links.23 }}" class="footerlink">{{ texts.20d03d }}</a>
                <a href="{{ links.23 }}" class="footerlink">{{ texts.3c2336d }}</a>
                <a href="{{ links.23 }}" class="footerlink">{{ texts.3c2336d }}</a>
                <a href="{{ links.23 }}" class="footerlink">{{ texts.1fa3c2 }}</a>
                <a href="{{ links.23 }}" class="footerlink">{{ texts.33c25b8b }}</a>
                <a href="{{ links.23 }}" class="footerlink">{{ texts.-64104400 }}</a>
              </div>
              <div id="w-node-c6e72af0-f899-da4c-e417-198ccb8f90de-cb8f908d" class="footer-column">
                <div class="footer-header"><strong>{{ texts.1d0c220d }}</strong></div>
                <a menu="account" href="{{ links.23 }}" class="footerlink">{{ texts.4468a3d9 }}</a>
                <a href="{{ links.23 }}" class="footerlink">{{ texts.7c791bfa }}</a>
                <a href="{{ links.23 }}" class="footerlink">{{ texts.4b0a07f7 }}</a>
                <a href="{{ links.23 }}" class="footerlink">{{ texts.22eaf12e }}</a>
              </div>
              <div id="w-node-c6e72af0-f899-da4c-e417-198ccb8f90ea-cb8f908d" class="footer-column">
                <div class="footer-header"><strong>{{ texts.274f16 }}</strong></div>
                <a menu="shop" href="{{ links.23 }}" class="footerlink">{{ texts.-10d22669 }}</a>
                <a href="{{ links.23 }}" class="footerlink">{{ texts.-1c0c7363 }}</a>
                <a href="{{ links.23 }}" class="footerlink">{{ texts.-41cf568e }}</a>
                <a href="{{ links.23 }}" class="footerlink">{{ texts.-7b47fef9 }}</a>
              </div>
            </div>
          </div>
          <div class="footer-half singleline"></div>
          <div class="footer-half-block">
            <div class="footeremail">
              <div class="footer-header"><strong>{{ texts.512b4db5 }}</strong></div>
              <div>
                <div class="w-form">
                  <form id="email-form" name="email-form" data-name="email" class="form" data-netlify="true" data-ajax="true" data-content-type="application/x-www-form-urlencoded"><input type="email" class="text-field-18 w-input" maxlength="256" name="email-2" data-name="Email 2" placeholder="" id="email-2" required=""><input type="submit" value=" " data-wait="Please wait..." class="footerarrow-submit w-button"></form>
                  <div class="w-form-done">
                    <div>{{ texts.5a0ea5a1 }}</div>
                  </div>
                  <div class="w-form-fail">
                    <div>{{ texts.-7c112e99 }}</div>
                  </div>
                </div>
              </div>
              <div class="footer-social">
                <div class="w-layout-grid grid-4">
                  <div class="footer-social-box">{%- image images.63d3600f.url, images.63d3600f.alt, '[]', 'loading="lazy" width="30"' -%}</div>
                  <div class="footer-social-box">{%- image images.2dcab44e.url, images.2dcab44e.alt, '[]', 'loading="lazy" width="30"' -%}</div>
                  <div class="footer-social-box">{%- image images.36c5e456.url, images.36c5e456.alt, '[]', 'loading="lazy" width="30"' -%}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section-footer wf-section">
        <div class="footer-copyright">
          <div class="w-layout-grid grid-5">
            <a href="{{ links.23 }}" class="w-inline-block">
              <div class="footer-copyright-link">{{ texts.38622077 }}</div>
            </a>
            <a href="{{ links.23 }}" class="w-inline-block">
              <div class="footer-copyright-link">{{ texts.6ff31b57 }}</div>
            </a>
            <div id="w-node-_5d40ebf5-2591-fe7c-288d-979c9da0c2f0-cb8f908d" class="text-block-6">{{ texts.-121a51dd }}</div>
          </div>
          <div class="footer-top-wrap">
            <a href="{{ links.11aa52 }}" class="link-block-4 w-inline-block"></a>
          </div>
        </div>
        <div class="footer-stack">
          <div class="footer-half singleline"></div>
        </div>
      </div>
    </div>